body {
    background: #000;
    overflow-x: hidden;
}

.continer {
    /* border: 3px solid black; */
    /* overflow: auto; */
    height: 120vh;
}

#gameoverEID{
    background: rgb(0, 0, 0);
}
#gameoverSID{
    background: rgb(3, 40, 245);
}

#GID {
    font-size: 25vw;
    color: black;
    text-shadow: 2px 6px 3px royalblue;
    animation: effect_rottate 1.5s forwards;
}

#AID {
    font-size: 15vw;
    /* animation: effect_rottate 2s 2s forwards; */
    /* background: #000; */
    color: black;
    text-shadow: 2px 6px 3px royalblue;
    animation: effect_rottate 1.5s 1s forwards;
}

#MID {
    font-size: 15vw;
    color: black;
    text-shadow: 2px 6px 3px royalblue;
    animation: effect_rottate 1.5s 2s forwards;
}

#E1ID {
    font-size: 15vw;
    color: black;
    text-shadow: 2px 6px 3px royalblue;
    animation: effect_rottate 1.5s 3s forwards;
}

#OID {
    font-size: 25vw;
    color: black;
    text-shadow: 2px 6px 3px rgb(127, 2, 253);
    animation: effect_rottate 1.5s 4s forwards;
}

#VID {
    font-size: 15vw;
    color: black;
    text-shadow: 2px 6px 3px rgb(127, 2, 253);
    animation: effect_rottate 1.5s 5s forwards;
}

#E2ID {
    font-size: 15vw;
    color: black;
    text-shadow: 2px 6px 3px rgb(127, 2, 253);
    animation: effect_rottate 1.5s 6s forwards;
}

#RID {
    font-size: 15vw;
    color: black;
    text-shadow: 2px 6px 3px rgb(127, 2, 253);
    animation: effect_rottate 1.5s 7s forwards;
}

@keyframes effect_rottate {
    100% {
        transform: rotateZ(30deg);
    }
}

.ZigZag{
    display: flex;
    position: relative;
    background: black;
    width: 10px;
    height: 10px;
    border-radius: 5px;
    animation: Zig 8s;
}

#BGeffect{
    border: 4px solid gainsboro;
    position: absolute;
    display: flex;
    top: 0px;
    left: 0px;
    flex-wrap: wrap;
    z-index: -1;
    filter: blur(8px);
}
.box1 {
    display: flex;
	position: relative;
	border: 3px solid lightslategray;
	width: 15rem;
	height: 30rem;
	top: 1rem;
	left: 4rem;
}
.box1 span:nth-child(1){
    position: absolute;
    height: 5px;
    width: 5px;
    background: lime;
    top: 0px;
    animation: 5s Top alternate infinite;
}
.box1 span:nth-child(2){
    position: absolute;
    height: 5px;
    width: 5px;
    background: lime;
    bottom: 0px;
    right: 0px;
    animation: 5s Bottom alternate infinite;
}
.box2 {
	position: relative;
	top: 10rem;
	border: 3px solid gray;
	width: 45rem;
	height: 30rem;
	left: -2rem;
}
.box2 span:nth-child(1){
    position: absolute;
    height: 5px;
    width: 5px;
    background: crimson;
    top: 0px;
    animation: 5s Top 0.5s alternate infinite;
}
.box2 span:nth-child(2){
    position: absolute;
    height: 5px;
    width: 5px;
    background: crimson;
    bottom: 0px;
    right: 0px;
    animation: 5s Bottom 0.5s alternate infinite;
}
.box3 {
	border: 3px solid gray;
	width: 33rem;
	height: 30rem;
	position: relative;
	top: -12rem;
	left: 1rem;
}
.box3 span:nth-child(1){
    position: absolute;
    height: 5px;
    width: 5px;
    background: yellow;
    top: 0px;
    animation: 5s Top 1.5s alternate infinite;
}
.box3 span:nth-child(2){
    position: absolute;
    height: 5px;
    width: 5px;
    background: yellow;
    bottom: 0px;
    right: 0px;
    animation: 5s Bottom 1.5s alternate infinite;
}
.box4 {
	border: 3px solid gray;
	width: 24rem;
	height: 30rem;
	position: relative;
	top: -12rem;
	left: 29rem;
}
.box4 span:nth-child(1){
    position: absolute;
    height: 5px;
    width: 5px;
    background: blue;
    top: 0px;
    animation: 5s Top 2s alternate infinite;
}
.box4 span:nth-child(2){
    position: absolute;
    height: 5px;
    width: 5px;
    background: blue;
    bottom: 0px;
    right: 0px;
    animation: 5s Bottom 2s alternate infinite;
}
.box5 {
	border: 3px solid gray;
	width: 30rem;
	height: 23rem;
	position: relative;
	top: -29rem;
	left: -32rem;
}
.box5 span:nth-child(1){
    position: absolute;
    height: 5px;
    width: 5px;
    background: indigo;
    top: 0px;
    animation: 5s Top 2.5s alternate infinite;
}
.box5 span:nth-child(2){
    position: absolute;
    height: 5px;
    width: 5px;
    background: indigo;
    bottom: 0px;
    right: 0px;
    animation: 5s Bottom 2.5s alternate infinite;
}
.box6 {
	border: 3px solid gray;
	width: 40rem;
	height: 0rem;
	position: relative;
	top: -53rem;
	height: 20rem;
	left: 43rem;
}
.box6 span:nth-child(1){
    position: absolute;
    height: 5px;
    width: 5px;
    background: cyan;
    top: 0px;
    animation: 5s Top 3s alternate infinite;
}
.box6 span:nth-child(2){
    position: absolute;
    height: 5px;
    width: 5px;
    background: cyan;
    bottom: 0px;
    right: 0px;
    animation: 5s Bottom 3s alternate infinite;
}
.box7 {
	border: 3px solid gray;
	width: 39rem;
	height: 15rem;
	position: relative;
	top: -31rem;
	left: -3rem;
}
.box7 span:nth-child(1){
    position: absolute;
    height: 5px;
    width: 5px;
    background: ivory;
    top: 0px;
    animation: 5s Top 3.5s alternate infinite;
}
.box7 span:nth-child(2){
    position: absolute;
    height: 5px;
    width: 5px;
    background: ivory;
    bottom: 0px;
    right: 0px;
    animation: 5s Bottom 3.5s alternate infinite;
}

@keyframes Top {
    0% {
        height: 5px;
        width: 100%;
        left: 0%;
        top: 0%;
    }
    15%{
        width: 5px;
        height: 5px;
        left: 100%;
        top: 0%;
    }

    30% {
        width: 5px;
        height: 100%;
        left: 100%;
        top: 0%;
    }
    45%{
        width: 5px;
        height: 5px;
        left: 100%;
        top: 100%;
    }
    60%{
        width: 100%;
        height: 5px;
        left: 0%;
        top: 100%;
    }
    75%{
        width: 5px;
        height: 5px;
        left: 0%;
        top: 100%;
    }
    90%{
        width: 5px;
        height: 100%;
        left: 0%;
        top: 0%;
    }
    100%{
        width: 5px;
        height: 5px;
        left: 0%;
        top: 0%;
    }
}
@keyframes Bottom {
    0% {
        height: 5px;
        width: 100%;
        right: 0%;
        bottom: 0%;
    }
    15%{
        width: 5px;
        height: 5px;
        right: 100%;
        bottom: 0%;
    }

    30% {
        width: 5px;
        height: 100%;
        right: 100%;
        bottom: 0%;
    }
    45%{
        width: 5px;
        height: 5px;
        right: 100%;
        bottom: 100%;
    }
    60%{
        width: 100%;
        height: 5px;
        right: 0%;
        bottom: 100%;
    }
    75%{
        width: 5px;
        height: 5px;
        right: 0%;
        bottom: 100%;
    }
    90%{
        width: 5px;
        height: 100%;
        right: 0%;
        bottom: 0%;
    }
    100%{
        width: 5px;
        height: 5px;
        right: 0%;
        bottom: 0%;
    }
}